<div>
    <dui-form style="max-width: 450px;">
        <dui-form-row label="Application">
            <dui-input round lightFocus semiTransparent disabled></dui-input>
        </dui-form-row>
        <dui-form-row label="Product Name">
            <dui-input round lightFocus semiTransparent disabled></dui-input>
        </dui-form-row>
        <dui-form-row label="Release Name">
            <dui-input round lightFocus></dui-input>
        </dui-form-row>
        <dui-form-row label="Release Notes">
            <dui-input round lightFocus></dui-input>
        </dui-form-row>
        <dui-form-row label="Build Name">
            <dui-input round lightFocus></dui-input>
        </dui-form-row>
        <dui-form-row label="Tag Name">
            <dui-input round lightFocus></dui-input>
        </dui-form-row>
    </dui-form>
    <dui-dialog-actions>
        <dui-button closeDialog textured>Close</dui-button>
        <dui-button closeDialog primary>Schedule</dui-button>
    </dui-dialog-actions>
</div>