<dui-window>
    <dui-window-header>
        <h3 float="right">Angular Desktop App</h3>
        <!--<dui-window-toolbar>
            <dui-button-group>

            </dui-button-group>
            <dui-button-group float="right">
                <dui-input style="margin-top: -8px !important;" textured icon="search" placeholder="Search" round
                    clearer></dui-input>
            </dui-button-group>
        </dui-window-toolbar>-->
    </dui-window-header>
    <dui-window-content>
        <div>
            <router-outlet></router-outlet>
        </div>
    </dui-window-content>
    <dui-window-footer>
        This is the footer.
    </dui-window-footer>
</dui-window>